
:root {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  background-color: blanchedalmond;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-image: url(images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg);
  overflow: cover;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5vw;
}

#formulario {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}

.book {
  background-color: beige;
  padding: 2vw;
}


